<form method="post">
    <label>Incremento Salarial</label>
    <input type="text" name="incremento" class="form-control" />
    <button class="btn btn-info">
        Subir Salarios
    </button>
</form>